/* *General */

* {
    margin: 0;
    box-sizing: border-box;
}

/* * Variables, Asignaciones */

:root {
    --very-dark-purple: #1b003a;
    --dark-light-purple: #4b0081;
    --soft-purple-basic: #650099;
    --dark-purple: #2b064d;
    --dark-light-gray: #393d42;
    --grayish: hsl(229, 8%, 60%);
    --very-dark: #19191a;
    --soft-white: #e5e5f7;

    --grayish-alpha: hsl(229, 8%, 60%, .5);
    --very-dark-purple-alpha: hsl(240, 2%, 10%, .8);
    --very-dark-purple-omega: hsl(268, 100%, 11%, .9);

    --padding-container: 60px 0;
}

/* * Especificación general para imagenes */

img {
    display: block;
}

/* * Especificación general para body */

body {
    font-family: 'Rubik', sans-serif;
}

/* * Especificación general para container */

.container {
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
}

/* TODO: Estilos Index.html */

/* * Section: Nav */
.nav {
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    --padding-container: 0;
}

.nav__logo {
    height: 50px;
    width: auto;
    transition: all 0.3s ease 0s;
}

.nav__figure {
    z-index: 100;
}

.nav__hamburguer {
    z-index: 100;
    width: 30px;
    height: 30px;
    position: relative;
}

.nav__button {
    position: absolute;
    inset: 0;
    margin: auto;
    cursor: pointer;
}

.nav__container {
    position: absolute;
    inset: 0;
    padding: 70px 0;
    min-height: 600px;
    background-color: var(--very-dark);
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 10;

    transform: translate(-100%);
    transition: transform .3s;
}

.nav__container--active {
    transform: translateX(0);
}

.nav__list {
    width: 90%;
    padding: 0;
    list-style: none;
    padding: 0;
}

.nav__element {
    text-align: center;
    padding: 1.5rem 0;
}

.nav__link {
    color: var(--grayish);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.nav__link:hover {
    color: white;
}

.nav__link--last {
    background-color: var(--dark-light-purple);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 1rem 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav__link--last:hover {
    color: white;
    background-color: var(--soft-purple-basic);
}

.nav__social {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 2rem;
    transition: all 0.3s ease 0s;
}

.nav__social:hover {
    transform: scale(1.07);
}

/* * Section: Hero */

.hero__main {
    width: 100%;
    --padding-container: 40px 0 60px;

    display: grid;
    grid-template-columns: 5% 1fr 5%;
}

.hero__figure {
    grid-column: 1/4;
    padding: 2rem 0;
    position: relative;
}

.hero__figure::before {
    content: "";
    position: absolute;
    background: linear-gradient(to left,
            var(--dark-purple),
            var(--dark-light-purple));
    width: 60%;
    max-width: 450px;
    bottom: 30px;
    top: 30%;
    right: 0;

    border-radius: 100px 20px 20px 100px;
    z-index: -1;
}

.hero__img {
    width: 90%;
    margin: 0 auto;
    max-width: 450px;
}

.hero__texts {
    text-align: center;
    grid-column: 2/3;
}

.hero__title {
    font-size: 2rem;
    color: var(--very-dark);
}

.hero__paragraph {
    color: var(--grayish);
    line-height: 1.5;
    margin: 1.3rem 0;
}

.hero__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.hero__button {
    background-color: var(--dark-light-purple);
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: -5px 2px 3px var(--grayish-alpha);
    transition: all 0.3s ease 0s;
}

.hero__button--white {
    background-color: white;
    color: var(--very-dark);
    transition: all 0.3s ease 0s;
}

.hero__button:hover {
    background-color: var(--soft-purple-basic);
    color: white;
    transform: scale(1.03);
}

.hero__button--white:hover {
    background-color: var(--very-dark);
    color: white;
    transform: scale(1.03);
}

/* * Section: Services */

.services {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
}

.services__content {
    grid-column: 2/3;
    text-align: center;
}

.services__title {
    font-size: 1.7rem;
    color: var(--very-dark);
}

.services__paragraph {
    line-height: 1.5;
    color: var(--grayish);
    margin: 1rem auto 2.5rem;
    max-width: 400px;
}

.services__list {
    padding: 0;
    list-style: none;
}

.services__element {
    border-top: 1.5px solid var(--grayish);
}

.services__element:last-child {
    border-bottom: 1.5px solid var(--grayish);
}

.services__tab {
    display: inline-block;
    padding: 1.5rem 0;
    text-decoration: none;
    color: var(--grayish);
    font-weight: 500;
    border-bottom: 5px solid transparent;

    transition: border-color .7s;
    transition: 0.3s ease 0s;
}

.services__tab:hover {
    transform: scale(1.07);
}

.services__tab--active {
    border-color: var(--dark-light-purple);
}

.services__container {
    grid-column: 1/-1;
    display: grid;
    grid-template-areas: "article";
}

.services__article {
    grid-area: article;
    opacity: 0;
    pointer-events: none;

    transition: opacity .6s;
}

.services__article--active {
    pointer-events: unset;
    opacity: 1;
}

.services__figure {
    padding: 3rem 0;
    position: relative;
}

.services__img {
    width: 80%;
    margin: 0 auto;
    max-width: 450px;
}

.services__figure::before {
    content: "";
    position: absolute;
    background: linear-gradient(to left,
            var(--dark-purple),
            var(--dark-light-purple));
    height: 150px;
    width: 50%;
    max-width: 450px;
    bottom: 0;
    left: 0;
    border-radius: 20px 100px 100px 20px;

    z-index: -1;

}

.services__texts {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
}

.services__subtitle {
    color: var(--very-dark);
    font-size: 1.7rem;
}


.services__copy {
    color: var(--grayish);
    line-height: 1.5;
    margin-top: 1.2rem;
}

.services__cta {
    display: none;
    margin-top: 1.2rem;
    padding: 1rem 1.5rem;
    background-color: var(--dark-light-purple);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}

.services__cta:hover {
    color: white;
    background-color: var(--soft-purple-basic);
    transform: scale(1.03);
}

/* * Section: Price */

.rates {
    width: 90%;
    text-align: center;
}

.rates__subtitle {
    color: var(--very-dark);
    font-size: 1.7rem;
}

.rates__paragraph {
    color: var(--grayish);
    margin: 1rem auto 2.5rem;
    max-width: 700px;
}

.rates__table {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.rates__element {
    background-color: var(--soft-white);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: var(--grayish);
    --color-price: var(--very-dark-purple);
    --bg-cta: var(--very-dark);
    --color-cta: white;
    --color-items: var(--dark-light-gray);
}

.rates__element--best {
    width: 370px;
    padding: 60px 40px;
    background-color: var(--dark-light-purple);
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: white;
    --bg-cta: var(--very-dark);
    --color-cta: white;
    --color-items: white;
}


.rates__name {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.rates__price {
    font-size: 2.5rem;
    color: var(--color-price);
}

.rates__items {
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.rates__cta {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    color: var(--color-cta);
    transition: all 0.3s ease 0s;
}

.rates__cta:hover {
    transform: scale(1.03);
}

/* * Section: Article */

.article {
    width: 90%;
    text-align: center;
}

.article__title {
    font-size: 1.7rem;
    color: var(--very-dark);
}

.article__arrow {
    transition: transform .3s;
}

.article__arrow--rotate {
    transform: rotate(180deg);
    filter: hue-rotate(129deg);
}

.article__paragraph {
    color: var(--grayish);
    margin: 1rem auto 2.5rem;
    max-width: 400px;
}

.article__container {
    max-width: 450px;
    margin: 0 auto;
}

.article__question {
    font-size: 1.4rem;
    text-align: left;
    color: var(--very-dark);
    font-weight: 400;
    padding: 1.6rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}

.article__content {
    display: grid;
    border-bottom: 2px solid var(--grayish);

    grid-template-rows: 0fr;

    transition: grid-template-rows .3s;
}

.article__content--show {
    grid-template-rows: 1fr;
}

.article__show {
    overflow: hidden;
}

.article__answer {
    padding: 1.3rem;
    text-align: left;
    padding-top: 0;
    color: var(--grayish);
}

.article__cta {
    display: inline-block;
    margin-top: 1.5rem;
    background-color: var(--dark-light-purple);
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.article__cta:hover {
    background-color: var(--soft-purple-basic);
    color: white;
    transform: scale(1.03);
}

/* * Section: Joined */

.joined {
    background-color: var(--dark-purple);
}

.joined__container {
    max-width: 500px;
    width: 90%;
    color: white;
    text-align: center;
}

.joined__paragraph {
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.joined__title {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.joined__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.joined__input,
.joined__submit {
    padding: 1rem;
    font: inherit;
    border-radius: 3px;
    border: none;
    outline: none;
}

/* ! FIXME: Revisión colores */
.joined__submit {
    background-color: var(--very-dark);
    color: var(--grayish);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.joined__submit:hover {
    background-color: var(--very-dark);
    color: white;

}

/* * Section: Footer */

.footer {
    background-color: var(--very-dark);
}

.footer__container {
    width: 90%;
    text-align: center;
}

.footer__logo {
    margin: 0 auto;
    height: 50px;
    width: auto;
}

.footer__list {
    padding: 0;
    list-style: none;
    margin: 1.5rem 0;
}

.footer__link {
    display: inline-block;
    padding: 1rem 0;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.footer__media {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    place-content: center;
    gap: 2rem;
    transition: all 0.3s ease 0s;
}

.footer__link:hover,
.footer__media:hover {
    transform: scale(1.03);
}



/* TODO: Index.html - Min-width: 768px */

/* * Section: General */

@media (min-width: 768px) {

    :root {
        --padding-container: 80px 0;
    }

    img {
        display: block;
    }


    /* * Section: Nav */
    .nav__hamburguer {
        display: none;
    }

    .nav__logo {
        height: 70px;
        width: auto;
        transition: all 0.3s ease 0s;
    }

    .nav__container {
        position: static;
        padding: 0;
        min-height: unset;

        background-color: white;

        display: block;
        transform: unset;
        transition: none;
    }

    .nav__list {
        width: unset;
        display: grid;
        grid-auto-flow: column;
        gap: 2rem;
        padding: 1rem;
    }

    .nav__element {
        padding: 0;
        border-top: none;
    }

    .nav__link {
        color: var(--dark-light-gray);
        padding: .6rem 0;
        transition: all 0.3s ease 0s;
    }

    .nav__link:hover {
        color: var(--very-dark);
        transform: scale(1.07);
    }

    .nav__link--last {
        border: none;
        color: white;
        padding: .6rem 1.5rem;
        background-color: var(--dark-light-purple);
        box-shadow: -5px 2px 3px var(--grayish);
    }

    .nav__link--last:hover {
        color: white;
    }

    .nav__social {
        display: none;
    }

    /* * Section: Hero */

    .hero__main {
        align-items: center;
        grid-template-columns: 5% 1fr 1fr 5%;
    }

    .hero__figure {
        grid-column: span 2/-1;
    }

    .hero__figure::before {
        bottom: 0;
        width: 70%;
        max-width: 600px;
    }

    .hero__img {
        max-width: 5000px;
    }

    .hero__texts {
        text-align: left;
        grid-row: 1/2;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__paragraph {
        margin: 1.5rem 0;
    }

    /* * Section: Services */

    .services {
        grid-template-columns: 5% 1fr 1fr 5%;
    }

    .services__content {
        grid-column: 2/4;

    }

    .services__title {
        font-size: 2.5rem;
    }


    .services__list {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: max-content;
        border-bottom: 2px solid var(--grayish-alpha);
    }

    .services__element {
        border-top: none;
    }

    .services__element:last-child {
        border-bottom: none;
    }

    .services__tab {
        padding: 1.5rem;
        position: relative;
        top: 2px;
    }


    .services__article {
        display: grid;
        gap: 1rem;
        align-items: center;
        grid-template-columns: 5% 1fr 1fr 5%;
    }


    .services__figure {
        grid-column: 1/3;
        display: grid;
    }

    .services__img {
        margin: auto;
    }

    .services__figure::before {
        top: 40%;
        height: unset;
        width: 70%;
        max-width: 550px;
    }

    .services__texts {
        width: 100%;
        margin-top: 0;
        text-align: left;
    }

    .services__subtitle {
        font-size: 2rem;
    }


    .services__cta {
        display: inline-block;
    }

    /* * Section: Download */

    .download__title {
        font-size: 2.5rem;
    }


    .download__container {
        width: 100%;
        max-width: unset;
        margin: 4rem auto 0;
        padding: 0 2rem;

        gap: 2rem;
        flex-direction: row;
        align-items: flex-start;
    }

    .download__item {
        flex: 1;
    }

    .download__item:nth-child(2) {
        margin-top: 2rem;
    }

    .download__item:nth-child(3) {
        margin-top: 4rem;
    }

    /* * Section: Article */

    .article__title {
        font-size: 2.5rem;
    }

    /* * Section: Joined */

    .joined__title {
        font-size: 2.5rem;
    }

    .joined__form {
        flex-direction: row;
    }

    .joined__input {
        flex: 1;
    }


    /* * Section: Footer */


    .footer__container {
        display: flex;
        align-items: center;
    }

    .footer__logo {
        margin: 0 auto;
    }

    .footer__list {
        display: flex;
        gap: 1rem;
        margin: 0;
        margin-left: 3rem;
    }

    .footer__media {
        margin-left: auto;
    }
}

/* TODO: Index.html - Min-width: 1250px */

/* * Section: General */

@media (min-width:1250px) {

    /* * Section: Hero */

    .hero__main {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .hero__figure {
        grid-column: span 1/-1;
        grid-row: 1/2;
    }

    .hero__texts {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    /* * Section: Features */

    .features {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .features__content {
        grid-column: 1/-1;
    }
}

/*  TODO: Estilos About.html */


/*  * Section: About */

.about__main {
    width: 100%;
    --padding-container: 40px 0 60px;

    display: grid;
    grid-template-columns: 5% 1fr 5%;
}

.about__figure {
    grid-column: 1/4;
    padding: 2rem 0;
    position: relative;
}

.about__figure::before {
    content: "";
    position: absolute;
    background: linear-gradient(to left,
            var(--dark-purple),
            var(--dark-light-purple));
    width: 60%;
    max-width: 450px;
    bottom: 30px;
    top: 30%;
    right: 0;

    border-radius: 100px 20px 20px 100px;
    z-index: -1;
}

.about__img {
    width: 90%;
    margin: 0 auto;
    max-width: 450px;
}

.about__texts {
    text-align: center;
    grid-column: 2/3;
}

.about__title {
    font-size: 2rem;
    color: var(--very-dark);
}

.about__paragraph {
    color: var(--grayish);
    line-height: 1.5;
    margin: 1.3rem 0;
}

/*  * Section: Planning */

.planning__container {
    grid-column: 1/-1;
    display: grid;
    grid-template-areas: "article";
}

.planning__article {
    grid-area: article;
    opacity: 0;
    pointer-events: none;

    transition: opacity .6s;
}

.planning__article--active {
    pointer-events: unset;
    opacity: 1;
}

.planning__figure {
    padding: 3rem 0;
    position: relative;
}

.planning__img {
    width: 80%;
    margin: 0 auto;
    max-width: 450px;
}

.planning__figure::before {
    content: "";
    position: absolute;
    background: linear-gradient(to left,
            var(--dark-purple),
            var(--dark-light-purple));
    height: 150px;
    width: 50%;
    max-width: 450px;
    bottom: 0;
    left: 0;
    border-radius: 20px 100px 100px 20px;

    z-index: -1;

}

.planning__texts {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
}

.planning__subtitle {
    color: var(--very-dark);
    font-size: 1.7rem;
}


.planning__copy {
    color: var(--grayish);
    line-height: 1.5;
    margin-top: 1.2rem;
}

/*  * Section: Values */

.values {
    width: 90%;
    text-align: center;
}

.values__title {
    font-size: 1.7rem;
    color: var(--very-dark);
}

.values__paragraph {
    color: var(--grayish);
    margin: 1rem auto 2.5rem;
    max-width: 400px;
}

.values__container {
    width: 97%;
    margin: 3rem auto 0;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.values__item {
    box-shadow: 0 3px 6px var(--grayish-alpha);
    padding: 2.5rem 0;
    border-radius: 12px;
}

.values__img {
    width: 50%;
    max-width: 120px;
    margin: 0 auto;
}

.values__subtitle {
    margin-top: 30px;
    color: var(--very-dark);
    font-size: 1.4rem;
}

.values__description {
    margin-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 6px;
    color: var(--grayish);
    line-height: 1.5;
}

/* TODO: About.html - min-width: 768px) */

@media (min-width: 768px) {

    /* * Section: General */

    :root {
        --padding-container: 80px 0;
    }

    img {
        display: block;
    }

    /* * Section: About */

    .about__main {
        align-items: center;
        grid-template-columns: 5% 1fr 1fr 5%;
    }

    .about__figure {
        grid-column: span 2/-1;
    }

    .about__figure::before {
        bottom: 0;
        width: 70%;
        max-width: 600px;
    }

    .about__img {
        max-width: 5000px;
    }

    .about__texts {
        text-align: left;
        grid-row: 1/2;
    }

    .about__title {
        font-size: 2.5rem;
    }

    .about__paragraph {
        margin: 1.5rem 0;
    }


    /* * Section: Planning */

    .planning__article {
        display: grid;
        gap: 1rem;
        align-items: center;
        grid-template-columns: 5% 1fr 1fr 5%;
    }

    .planning__figure {
        grid-column: 1/3;
        display: grid;
    }

    .planning__img {
        margin: auto;
    }

    .planning__figure::before {
        top: 40%;
        height: unset;
        width: 70%;
        max-width: 600px;
    }

    .planning__texts {
        width: 100%;
        margin-top: 0;
        text-align: left;
    }

    .planning__subtitle {
        font-size: 2rem;
    }

    /* * Section: Values */

    .values__title {
        font-size: 2.5rem;
    }


    .values__container {
        width: 100%;
        max-width: unset;
        margin: 4rem auto 0;
        padding: 0 2rem;

        gap: 2rem;
        flex-direction: row;
        align-items: flex-start;
    }

    .values__item {
        flex: 1;
    }

    .values__item:nth-child(2) {
        margin-top: 2rem;
    }

    .values__item:nth-child(3) {
        margin-top: 4rem;
    }

}

/* TODO: About.html - Min-width: 1250px */
@media (min-width:1250px) {

    /* * Section: About */

    .about__main {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .about__figure {
        grid-column: span 1/-1;
        grid-row: 1/2;
    }

    .about__texts {
        grid-row: 1/2;
        grid-column: 1/2;
    }
}

/* TODO: Estilos services.html */

/* * Section: portfolio_about */

.portfolio_about__main {
    width: 100%;
    --padding-container: 40px 0 60px;

    display: grid;
    grid-template-columns: 5% 1fr 5%;
}

.portfolio_about__figure {
    grid-column: 1/4;
    padding: 2rem 0;
    position: relative;
}

.portfolio_about__figure::before {
    content: "";
    position: absolute;
    background: linear-gradient(to left,
            var(--dark-purple),
            var(--dark-light-purple));
    width: 60%;
    max-width: 450px;
    bottom: 30px;
    top: 30%;
    right: 0;

    border-radius: 100px 20px 20px 100px;
    z-index: -1;
}

.portfolio_about__img {
    width: 90%;
    margin: 0 auto;
    max-width: 450px;
}

.portfolio_about__texts {
    text-align: center;
    grid-column: 2/3;
}

.portfolio_about__title {
    font-size: 2rem;
    color: var(--very-dark);
}

.portfolio_about__paragraph {
    color: var(--grayish);
    line-height: 1.5;
    margin: 1.3rem 0;
}

/* * Section: portfolio */

.portfolio {
    text-align: center;
}

.portfolio__paragraph {
    line-height: 1.7;
}

.portfolio__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.portfolio__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.portfolio__icon {
    width: 40px;
}

/* * Section: Legal */


.legal__main{
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.legal__container {
    grid-column: 1/-1;
    display: grid;
    grid-template-areas: "article";
    
}

.legal__article {
    grid-area: article;
    opacity: 0;
    pointer-events: none;

    transition: opacity .6s;
}

.legal__article--active {
    pointer-events: unset;
    opacity: 1;
    border-radius: 20px;
}

.legal__figure {
    padding: 3rem 0;
    position: relative;
}

.legal__img {
    width: 80%;
    margin: 0 auto;
    max-width: 450px;
}

.legal__figure::before {
    content: "";
    position: absolute;
    background: linear-gradient(to left,
            var(--dark-purple),
            var(--dark-light-purple));
    height: 150px;
    width: 50%;
    max-width: 450px;
    bottom: 0;
    left: 0;
    border-radius: 20px 100px 100px 20px;

    z-index: -1;

}

.legal__texts {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
}

.legal__subtitle {
    color: var(--very-dark);
    font-size: 1.7rem;
}


.legal__copy {
    color: var(--grayish);
    line-height: 1.5;
    margin-top: 1.2rem;
}

@media (min-width: 768px) {

    /* * Section: General */

    :root {
        --padding-container: 80px 0;
    }

    img {
        display: block;
    }

    /* * Section: portfolio_about */

    .portfolio_about__main {
        align-items: center;
        grid-template-columns: 5% 1fr 1fr 5%;
    }

    .portfolio_about__figure {
        grid-column: span 2/-1;
    }

    .portfolio_about__figure::before {
        bottom: 0;
        width: 70%;
        max-width: 600px;
    }

    .portfolio_about__img {
        max-width: 5000px;
    }

    .portfolio_about__texts {
        text-align: left;
        grid-row: 1/2;
    }

    .portfolio_about__title {
        font-size: 2.5rem;
    }

    .portfolio_about__paragraph {
        margin: 1.5rem 0;
    }

    /* * Section: Legal */

    .legal__article {
        display: grid;
        gap: 1rem;
        align-items: center;
        grid-template-columns: 5% 1fr 1fr 5%;
    }

    .legal__figure {
        grid-column: 1/3;
        display: grid;
    }

    .legal__img {
        margin: auto;
    }

    .legal__figure::before {
        top: 40%;
        height: unset;
        width: 70%;
        max-width: 600px;
    }

    .legal__texts {
        width: 100%;
        margin-top: 0;
        text-align: left;
    }

    .legal__subtitle {
        font-size: 2rem;
    }
}

@media (max-width: 820px) {

    /* * Section: General */

    :root {
        --padding-container: 80px 0;
    }

    img {
        display: block;
    }

    /* * Section: portfolio */

    .portfolio__main {
        gap: 2em;
    }

    .portfolio__icons:last-of-type {
        grid-column: 1/-1;
    }
}

@media (min-width:1250px) {

    /* * Section: portfolio_about */

    .portfolio_about__main {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .portfolio_about__figure {
        grid-column: span 1/-1;
        grid-row: 1/2;
    }

    .portfolio_about__texts {
        grid-row: 1/2;
        grid-column: 1/2;
    }
}